# Ignore runtime stuff
.mixin.out/
.vscode/
crash-reports/
logs/
saves/
mods/.connector
mods/.index
coremods/
cosmetics/
modernfix/
recruits/
schematics/
screenshots/
shaderpacks/
simplebackups/
options.txt
servers.dat
servers.dat_old
supportercache.json
usernamecache.json
usercache.json

# Ignore launcher-specific files
*.log

# Ignore large unnecessary files
*.zip
*.jar.tmp